/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

$maincolor: #0027d5;
$bgcolor: #fbfbfb;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
  background-color: $bgcolor;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

header {
  // background-color: $bgcolor;
  .nav-bar {
    font-size: 28px;
    font-weight: 700;
    margin: 24px auto;
    align-items: center;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      li {
        margin-left: 40px;
        a {
          text-decoration: none;
          color: #000;
          &:hover {
            color: $maincolor;
          }
        }
      }
    }
  }
}

main {
  .banner {
    display: flex;
    height: calc(100vh - 90px);
    width: 100%;
    .img-section-l {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true);
      width: 50%;
      background-size: cover;
      background-position: center;
    }
    .img-section-r {
      background-image: url(/img/Hero-Section2.png);
      width: 50%;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .img-content {
        padding-left: 80px;
        h1 {
          font-weight: 900;
          font-size: 120px;
          color: $maincolor;
        }
        p {
          font-weight: 700;
          font-size: 28px;
          color: $maincolor;
          margin-top: 12px;
        }
      }
    }
  }

  .article {
    display: flex;
    .art-img {
      display: block;
      width: 50%;
      img {
        max-width: 100%;
      }
    }
    .art-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      .main-info {
        max-width: 636px;
        margin-left: 24px;
        .art-slogan {
          font-size: 24px;
          color: $maincolor;
          display: flex;
          align-items: center;
          a {
            background-color: $maincolor;
            font-size: 1rem;
            border-radius: 40px;
            padding: 6px 12px;
            color: #fff;
            vertical-align: baseline;
            text-decoration: none;
            margin-left: 20px;
          }
        }
        h2 {
          font-weight: 700;
          font-size: 28px;
        }
        .art-info {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .more {
          margin-top: 16px;
          .btn {
            text-decoration: none;
            border: 1px solid #000;
            color: #000;
            border-radius: 40px;
            padding: 8px 16px;
            transition: color 0.2s ease;
            &:hover {
              background-color: #000;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
    .search {
      border: 1px solid #000;
      max-width: 416px;
      border-radius: 40px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 16px;
      margin-top: 80px;
      display: flex;
      overflow: hidden;
      .search-box {
        flex-grow: 1;
        border: none;
        outline: none;
      }
    }
    .blog-card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
      grid-gap: 24px;
      .card {
        // max-width: 416px;
        margin-top: 40px;
        a {
          font-size: 24px;
          color: $maincolor;
          text-decoration: none;
        }
        h2 {
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 8px;
        }
        .linkTag {
          background-color: $maincolor;
          font-size: 1rem;
          border-radius: 50px;
          padding: 8px;
          color: #fff;
          vertical-align: baseline;
        }
        .text {
          color: #4b4b4b;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          margin-bottom: 16px;
        }
        .btn {
          border: 1px solid #000;
          color: #000;
          font-size: 1rem;
          border-radius: 50px;
          padding: 8px;
          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
    .pagination {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      background-color: $bgcolor;
      border-radius: 40px;
      padding: 8px 20px;
      width: 328px;
      margin: 40px auto;
      .pag {
        display: flex;
        background-color: #fff;
        border-radius: 40px;
        .pag-num {
          padding: 8px 10px;
          a {
            text-decoration: none;
            &:hover {
              color: $maincolor;
            }
          }
          .pag-mark {
            color: $maincolor;
          }
        }
      }
    }
    .community {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mail {
        font-size: 32px;
        margin-top: 80px;
        margin-bottom: 80px;
      }
      .icon {
        display: flex;
        margin-top: 82px;
        margin-bottom: 82px;
        cursor: pointer;
      }
    }
  }
}

footer {
  p {
    margin: 24px auto;
    text-align: center;
  }
}

@media screen and (max-width: 881px) {
  main {
    .banner {
      display: flex;
      flex-direction: column;
      .img-section-l {
        height: 75vh;
        width: 100%;
      }
      .img-section-r {
        width: 100%;
        .img-content {
          h1 {
            font-size: 52px;
          }
          p {
            padding-bottom: 24px;
          }
        }
      }
    }
    .article {
      display: flex;
      flex-direction: column;
      .art-img {
        width: 100%;
      }
      .art-main {
        width: 100%;
        margin: 48px auto;
      }
    }
    .container {
      .blog-card {
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
        .card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
        }
      }
      .community {
        display: none;
      }
    }
  }
}
